<main class="posts-new">
  <div class="main-contents">
    <h3 class="new_post-title">
      Trip
    </h3>
    <div class="form">
      <%= form_for @trip, url: sub_trips_path, method: :get do |form| %>
        <div class="box form-title">
          <%= form.text_field :title, placeholder: "Title" %>
        </div>
        <div class="box form-prefecture">
          <%= form.text_field :prefecture, placeholder: "Prefecture" %>
        </div>
        <div class="form-btn">
          <%= form.submit "✈︎" %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</main>