<main>
<div class="main-contents">
<div>
  <div class="success">
    <h3>
      投稿が完了しました。
    </h3>
    <a class="btn" href="/">投稿一覧へ戻る</a>
    <a class="btn" href="information/new">続けて投稿する</a>
  </div>
</div>
</div>
</main>