<main>
<div class="left-contents">left-contents</div>
<div class="main-contents">
  <div class="success">
    <h3>
      更新が完了しました。
    </h3>
      <%= link_to 'Details', "/posts/#{@post.id}", method: :get %>
  </div>
</div>
<div class="right-contents">right-contents</div>
</main>