/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    padding: 0;
    // color: black;
    font-style: italic;
    font-family: serif;
    color: darkgray;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(240, 240, 240);
}

::-webkit-scrollbar {
    display: none;
}

main {
    width: 680px;
    margin: 0 auto;
    text-align: center;
    background-color: #fafafa;
    overflow: scroll;
    height: calc(100% - 130px);
}

.main-contents {
    margin: 0 auto;
    width: 90%;
}

.main-content {
    border: groove;
    border-width: 2px;
    border-color: lightgray;
    margin-top: 20px;
    // width: 300px;
    height: auto;
}

.wrapper {
    height: 100vh;
}

.header {
    background-color: white;
    height: 80px;
    width: 100%;
}

.header__bar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.app-name {
    width: 25%;
    height: 100%;
    font-weight: bold;
    // font-size: 40px;
    color: black;
}

.search-box {
    width: 50%;
    height: 100%;
}

.search-input {
    border-radius: 5px;
    height: 30px;
}

.search-btn {
    width: 60px;
    margin: 10px;
    border-color: #b3b0b0;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
    border-style: groove;
}

.user-name {
    height: 100%;
    width: 25%;
    font-weight: bold;
    // font-size: 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 100%;
    bottom: 0;
}

.footer-btn {
    width: 100%;
    font-size: 40px;
    text-align: center;
}

::before {}

.fa-home {
    size: 15px;
}

a {
    text-decoration: none;
    color: rgb(126, 123, 123);
}

// a:hover {
//     color: indianRed;
//     text-decoration: inherit;
// }
.users-contents {
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    margin-left: 450px;
}

.sign-up-box {
    margin: auto;
    text-align: center;
}

div.contents.row {
    h2 {
        font-weight: normal;
        strong {
            font-weight: bold;
            padding-right: 5px;
            font-size: 1.2em;
        }
    }
    .new_user {
        // font-family: "游ゴシック", "YuGothic";
    }
}

// p {
//     margin: 8px;
//     font-family: serif;
// }
button {
    padding: 1px 10px;
}

button p {}

::before {
    color: rgb(126, 123, 123);
}