.follow-users {
    h1 {
        font-size: 50px;
        color: dimgray;
        height: fit-content;
        margin: 20px 0;
    }
    .main-contents {
        width: 60%;
    }
}

.follow-users p {
    font-size: 35px;
    width: 50%;
    height: fit-content;
}

.follow-users .profile-img {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-left: 20px;
}

.follow-users .follow-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: outset;
    border-width: 2px;
    height: 80px;
    margin-top: 20px;
}

.follow-users a:hover {
    position: relative;
    top: 2px;
    left: 2px;
    text-decoration: none;
}