#information {
    .show {
        p {
            padding: 20px;
            width: auto;
            margin: 0 auto;
        }
        .information_box {
            height: 100%;
            display: flex;
        }
        .information_contentes {
            height: 100%;
            width: 50%;
            .inf {
                p {
                    width: 100%;
                    font-size: 25px;
                    color: #636363;
                }
                .created_at {
                    font-size: 15px;
                    color: #7e7b7b;
                }
            }
            li {
                height: 19.8%;
                border-bottom: 1px solid rgb(206, 204, 204);
            }
            li:hover {
                background-color: grey;
            }
        }
        .information_detail {
            margin: 30px;
            background-color: lightgrey;
            .information_img {
                height: 60%;
            }
            .information_title {
                height: 10%;
                width: auto;
                p {
                    font-size: 25px;
                    color: #636363;
                }
            }
            .information_text {
                height: 30%;
                width: auto;
                p {
                    font-size: 15px;
                }
            }
        }
    }
    .pagination {
        padding-top: 20px;
    }
}

.inf_show-main {
    .content-title {
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 35px;
    }
    .detail-content {
        display: flex;
        margin: 20px;
        width: auto;
    }
}