// ------------indexページ-------------
.image {
    background-color: black;
}

.contents-header {
    height: 50px;
}

.search-box {
    margin: 30px auto;
    margin-top: 50px;
}

.search-main {
    display: flex;
    .main-contents {
        background-image: url(/images/coffee.jpg);
        background-repeat: no-repeat;
        h2 {
            font-size: 30px;
            font-weight: bold;
            margin: 10px auto;
        }
    }
    .contributor {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .profile-img {
            height: 40px;
            width: 40px;
            background-size: 40px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            margin: 5px 10px;
        }
        p {
            width: 50%;
            font-size: 20px;
            height: fit-content;
        }
    }
    .post-contents {
        width: 90%;
        margin: 10px auto;
        table-layout: fixed;
        tr {
            margin: 5px auto;
        }
    }
}

.post-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

// ----------投稿ページ----------
.posts-new {
    width: 70%;
    .main-contents {
        height: auto;
        margin: 10px auto;
        h3 {
            font-size: 25px;
        }
        .new_post-title {
            font-size: 30px;
            color: dimgray;
            height: fit-content;
        }
    }
}

.form {
    height: auto;
    border-radius: 5px;
    div {
        margin-top: 20px;
        input {
            border-radius: 5px;
            height: 100%;
        }
    }
    .date-select {
        border: none;
        font-size: 20px;
        height: 40px;
        width: 15%;
    }
    .box {
        height: 40px;
    }
    #post_text {
        border-radius: 5px;
        border-width: 2px;
        border-style: inset;
    }
    .form-btn {
        font-size: 15px;
    }
    .form-btn input {
        font-size: 15px;
        width: 100px;
        border: outset;
        border-width: 2px;
        border-radius: 5px;
        cursor: pointer;
    }
     ::placeholder {
        font-size: 15px;
    }
}

// ---------- 詳細ページ----------
.show-main {
    .show-content {
        margin: 10px auto;
        height: fit-content;
        .content-title {
            font-size: 30px;
        }
    }
}

.post-img {
    height: 250px;
    margin-left: auto;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
}

.more p {
    margin: auto;
    line-height: 25px;
}

.more_list li {
    margin-top: 10px;
}

.bookmark-btn {
    display: inline-grid;
    margin: 10px 0;
}

.bookmark-btn a {
    font-size: 20px;
    text-align: right;
}

.content-btn {
    border-radius: 5%;
    font-size: 15px;
    margin: 15px;
    height: 30px;
}

// ---------- 編集ページ----------
.edit_user {
    margin: 20px;
}

.field {
    margin: 15px;
}

.edit_user input {
    border-radius: 5px;
    width: 400px;
    height: 30px;
}

#user_introduction {
    height: 300px;
}

.user-edit-label {
    font-size: 35px;
    margin: 20px;
}

.success {
    margin-top: 35px;
    line-height: 40px;
}