#trip_main {
    width: 900px;
    margin: 50px auto;
    .trip_contents {
        // display: flex;
        // align-items: center;
        text-align: center;
        height: 100px;
        .trip_title {
            font-size: 45px;
        }
        .trip_prefecture {
            text-align: end;
        }
    }
    .post_content {
        display: flex;
        padding-top: 20px;
        border-bottom: ridge;
        .post_image {
            padding: 20px 10px;
        }
        .post_detail {
            .post_text {
                text-align: center;
                height: 60%;
                font-size: 25px;
            }
            .post_time {
                height: 10%;
                font-size: 10px;
                text-align: end;
            }
            .post_place {
                height: 30%;
                font-size: 20px;
            }
        }
    }
    img {
        width: 200px;
        height: 200px;
    }
}