// ------------indexページ-------------
.image {
    background-color: black;
}

.slick-track {
    width: 2846px;
}

.contents-header {
    height: 50px;
}

.search-box {
    margin: 30px auto;
    margin-top: 50px;
}

.search-main {
    display: flex;
    .main-contents {
        background-image: url(/images/coffee.jpg);
        background-repeat: no-repeat;
        h2 {
            font-size: 30px;
            font-weight: bold;
            padding-top: 20px;
            border-bottom: ridge;
            height: 50px;
            line-height: normal;
        }
        .contents {
            height: 1240px;
            img {
                height: 200px;
                width: 200px;
            }
            .contents_boxs {
                display: flex;
                .contents_box {
                    width: 200px;
                }
            }
            .contents_box {
                height: 200px;
                margin: 20px;
                width: auto;
                background-color: rgb(184, 183, 183);
            }
        }
    }
    .contributor {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .profile-img {
            height: 40px;
            width: 40px;
            background-size: 40px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            margin: 5px 10px;
        }
        p {
            width: 50%;
            font-size: 20px;
            height: fit-content;
        }
    }
    .post-contents {
        width: 90%;
        margin: 10px auto;
        table-layout: fixed;
        tr {
            margin: 5px auto;
        }
    }
    #about {
        height: 500px;
    }
    .about {
        display: flex;
        height: 85%;
        align-items: center;
        line-height: 40px;
        font-size: 20px;
    }
    #recomendation {
        height: fit-content;
    }
}

#trip {
    .trip_contents {
        display: flex;
        flex-wrap: wrap-reverse;
        .trip_content--header {
            display: flex;
            align-items: center;
        }
        .trip_contents_detail {
            width: 20%;
            margin: 23px;
            background-color: #f5f5f5;
            img {
                height: 150px;
                width: 160px;
                padding: 0 10px;
            }
            .trip_user--image {
                img {
                    height: 30px;
                    width: 30px;
                    padding: 5px;
                }
            }
        }
    }
}

#recomendation {
    img {
        width: 90%;
        height: 90%;
        margin: 11px;
    }
}

#contact {
    height: auto;
    .form {
        margin-top: 40px;
        input {
            margin-top: 10px;
        }
        #family-name1 {
            width: 50%;
            height: 30px;
        }
        #family-name2 {
            width: 50%;
            height: 30px;
        }
        #family-name3 {
            width: 50%;
            height: 90px;
        }
    }
}

.post-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

#news {
    .contents_box {
        display: flex;
    }
    .news_content {
        padding: 20px;
    }
    img {
        width: 200px;
        height: 180px;
        margin: 10px 0;
    }
    .news_image {
        width: 40%;
    }
    .news_content--title {
        height: 20%;
        font-size: 30px;
        border-bottom: dotted;
        p {
            color: #636363;
        }
    }
    .news_content--content {
        height: 80%;
        font-size: 20px;
        line-height: normal;
        p {
            color: #636363;
        }
    }
}

#information {
    .show {}
    .information_detail {
        img {
            padding: 20px;
            height: 300px;
            width: 300px;
        }
    }
}

// ----------投稿ページ----------
.posts-new {
    width: 70%;
    #trip_prefecture {
        border-radius: 5px;
        height: 100%;
        background-color: white;
    }
    .main-contents {
        height: auto;
        margin: 10px auto;
        h3 {
            font-size: 25px;
        }
        .new_post-title {
            font-size: 30px;
            color: dimgray;
            height: fit-content;
        }
    }
}

.form {
    height: auto;
    border-radius: 5px;
    .preview {
        height: 250px;
        width: 250px;
    }
    .post_content {
        display: flex;
    }
    div {
        margin-top: 20px;
        input {
            border-radius: 5px;
            height: 100%;
        }
    }
    .date-select {
        border: none;
        font-size: 20px;
        height: 40px;
        width: 15%;
    }
    .box {
        height: 40px;
    }
    #post_text {
        border-radius: 5px;
        border-width: 2px;
        border-style: inset;
    }
    .form-btn {
        font-size: 15px;
    }
    .form-btn input {
        font-size: 15px;
        width: 100px;
        border: outset;
        border-width: 2px;
        border-radius: 5px;
        cursor: pointer;
    }
     ::placeholder {
        font-size: 15px;
    }
}

// -----informationtab-----
#information {
    height: fit-content;
    .tab {}
    .tab li {
        color: #333;
        padding: 22px 21px;
        width: 16.4%;
        cursor: pointer;
        list-style: none;
        transition: .3s;
    }
    .tab li.active {
        color: #fff;
        background-color: #c0c0c0;
        cursor: auto;
    }
    .area ul {
        display: none;
    }
    .area ul.show {
        display: block;
        background-color: #c0c0c0;
        height: 600px;
    }
    .clearfix {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// -------------------------------
// ---------- 詳細ページ----------
.show-main {
    .show-content {
        margin: 10px auto;
        height: fit-content;
        .content-title {
            font-size: 30px;
        }
    }
}

.post-img {
    height: 250px;
    margin-left: auto;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
}

.more p {
    margin: auto;
    line-height: 25px;
}

.more_list li {
    margin-top: 10px;
}

.bookmark-btn {
    display: inline-grid;
    margin: 10px 0;
}

.bookmark-btn a {
    font-size: 20px;
    text-align: right;
}

.content-btn {
    border-radius: 5%;
    font-size: 15px;
    margin: 15px;
    height: 30px;
}

// ---------- 編集ページ----------
.edit_user {
    margin: 20px;
}

// .field {
//     margin: 15px;
// }
.edit_user input {
    border-radius: 5px;
    width: 400px;
    height: 30px;
}

#user_introduction {
    height: 300px;
}

.user-edit-label {
    font-size: 35px;
    margin: 20px;
}

.success {
    margin-top: 35px;
    line-height: 40px;
}